$white: #FFFFFF;
$black00: hsla(0, 0%, 00%, 1);
$black20: hsla(0, 0%, 20%, 1);
$black40: hsla(0, 0%, 40%, 1);
$black60: hsla(0, 0%, 60%, 1);
$black85: hsla(0, 0%, 85%, 1);
$black98: hsla(0, 0%, 98%, 1);

$brandBlue: hsla(202, 100%, 32%, 1);
$brandBlueDeep: hsla(202, 100%, 22%, 1);
$brandBlueDark: hsla(202, 100%, 12%, 1);

$warning: hsla(360, 100%, 32%, 1);

